* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 15px;
  position: relative;
}

.order {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  border: 1px solid black;
  border-radius: 16px;
}
.order label {
  width: 100%;
}

.order input[type="text"] {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid black;
}

.order input[type="submit"],
.paidOrder,
.sentOrder,
.receivedOrder {
  background-color: #2eb9e7;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notificationsContainer {
  max-width: 400px;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 15px;
  overflow: hidden;
}

.hiddenCreateOrder {
  animation: slideInLeft 0.8s forwards;
}

.successNotification,
.paidNotification,
.sentNotification,
.receivedNotification {
  display: flex;
  gap: 16px;
  border-radius: 16px;
  padding: 12px;
  align-items: center;
  color: white;
  box-shadow: 5px 3px 3px 2px black;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.successNotification {
  background-color: #3fc53f;
  transition: right 0.8s ease;
  animation: slideInRight 0.8s forwards;
}

.paidNotification,
.sentNotification,
.receivedNotification {
  background-color: #dfaf2c;
  transition: right 0.8s ease;
  animation: slideInRight 0.8s forwards;
}

.ok img {
  width: 30px;
  background-color: white;
  border-radius: 50%;
}

.notification {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  width: 200px;
}

.notificationContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
}

.closedCreateOrder {
  cursor: pointer;
}

.cards {
  padding: 15px;
  display: flex;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 6px;
}

.labelAdress,
.labelPreis,
.labelRecipient {
  color: red;
}
